<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Book to Catalog</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/index.html'>Home</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_book.html'>Add a Book</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_sales_order.html'>Add an Order</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_genre.html'>Add a Genre</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_an_author.html'>Add an Author</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_customer.html'>Add a Customer</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_book_to_sales.html'>Add Book to Sales</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/book_information.html'>View Books</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/view_genre.html'>Generes</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/authors.html'>Authors</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/sales.html'>Sales</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/sales_orders.html'>Sales Orders</a>
</nav>

  <h2>Add a Book</h2>

  <form action="/" method="post">
    <!-- Book ID -->
    <label for="book_id">Book ID:</label>
    <input type="number" id="book_id" name="book_id" min="1" max="999999" required>
    <br><br>

    <!-- Book Title -->
    <label for="bookTitle">Book Title:</label>
    <input type="text" id="title" name="bookTitle" required>
    <br><br>

    <!-- Price -->
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" min="0" step="0.01" placeholder="0.00" required>
    <br><br>

    <!-- Quantity input -->
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="0" max="200" required>
    <br><br>

    <!-- Genre ID input -->
    <label for="genre">Genre:</label>
    <select id="genre" name="genre" required>
      <option value="Non-fiction">Non-fiction</option>
      <option value="Fiction">Fiction</option>
      <option value="Cooking">Cooking</option>
      <option value="Kids">Kids</option>
      <option value="Science Fiction">Science Fiction</option>
      <option value="Magazines">Magazines</option>
    </select>
    <br><br>

    <!-- Submit button -->
    <button type="submit">Add Book</button>
  </form>

</body>
</html>