<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Book to Catalog</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/index.html'>Home</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_book.html'>Add a Book</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_sales_order.html'>Add an Order</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_genre.html'>Add a Genre</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_an_author.html'>Add an Author</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_customer.html'>Add a Customer</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_book_to_sales.html'>Add Book to Sales</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/book_information.html'>View Books</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/view_genre.html'>Generes</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/authors.html'>Authors</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/sales.html'>Sales</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/sales_orders.html'>Sales Orders</a>
</nav>
  
  <h2>Add a Sales Order</h2>

  <form action="/" method="post">
    <!-- Sale Date -->
    <label for="sale_date">Sale Date:</label>
    <input type="date" id="sale_date" name="sale_date"  required>
    <br><br>
    
    <!-- Sale ID -->
    <label for="sale_id">Sale ID:</label>
    <input type="number" id="sale_id" name="sale_id" min="1" max="999999" required>
    <br><br>

    <!-- Quantity input -->
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="0" max="200" required>
    <br><br>
    
    <!-- Transaction Total -->
    <label for="transaction_total">Transaction Total:</label>
    <input type="number" id="transaction_total" name="transaction_total" min="0" step="0.01" placeholder="0.00" required>
    <br><br>

    <!-- Submit button -->
    <button type="submit">Add Order</button>
  </form>

</body>
</html>