<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Orders</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/index.html'>Home</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_book.html'>Add a Book</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_sales_order.html'>Add an Order</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_genre.html'>Add a Genre</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_an_author.html'>Add an Author</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_a_customer.html'>Add a Customer</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/add_book_to_sales.html'>Add Book to Sales</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/book_information.html'>View Books</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/view_genre.html'>Generes</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/authors.html'>Authors</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/sales.html'>Sales</a>
    <a href='/Users/edwintrinh/Desktop/black_hole/osu/cs340/project step 3/html/sales_orders.html'>Sales Orders</a>
</nav>

  <h2>Update/Delete Sales Orders</h2>

</body>
</html>