<h1>Authors</h1>

<!-- Authors Table -->
<table>
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.author_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to Add a New Author -->
<h2>Add a New Author</h2>
<form method="POST" action="/add-author-form">
    <label for="author-name">Name:</label>
    <input type="text" name="author-name" id="author-name" required>

    <label for="author-description">Description:</label>
    <input type="text" name="author-description" id="author-description">

    <input type="submit" value="Add Author">
</form>